<div class="container mt-4">
  <h1>All Restaurants</h1>
  <ul class="list-group-flush">
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item mb-2"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
  <%= link_to "Add restaurant", new_restaurant_path, class: "btn btn-primary"  %>
</div>
